body{
  background:linear-gradient(-135deg,#05FBFF,#1E00FF);
}h1{
  text-align:center;
  font-family:'Ubuntu Mono',monospace;
  font-size:110px;
  color:rgb(0, 177, 118);
}.parson p:first-child:hover{ 
 transition: 1.5s;
 color: rgb(169, 172, 171);
}.parson p{ 
  font-family:'Ubuntu Mono',monospace;
display:block;
text-align:left;
font-size:40px;
padding:0px 0px 0px 0px;
margin:5px 5px 5px 5px;
}
.photo1{
  border:solid;
  border-radius:50%;
  width:15%;
  height:15%;
}h2{
  color:rgb(0, 177, 118);
  font-family:'Ubuntu Mono',monospace;
  font-size:90px;
  text-align:center;
}
div.photos1 img{  
  display:inline-block;
margin-left:auto;
margin-right:auto;
  width: 15%;
  height:15%;
}div.photos2 img{
  display:inline-block;
  transform:rotate(-90deg);
margin-left:auto;
margin-right:auto;
  width: 15%;
  height:15%;
}h2.p{
  text-align:center;
  font-family:'Ubuntu Mono',monospace;
  font-size:30px;
  color:rgb(0, 177, 118);
}div.other img{
 display:inline-block;
 margin-left: 1%;
margin-right: 1%;
  width:30%;
  height:30%;
}div.other p{
  color:rgb(0, 177, 118);
  font-family:'Ubuntu Mono',monospace;
  font-size:90px;
display:inline-block;
  margin-left: 6%;
  margin-right: 6%;
}.twitter img{
  width:50px;
  height:50px;
}.twitter a{
display:block;
margin:auto;
width:50px;
height:50px;
}
